<!-- <div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="findSynonym">
      <a ngbNavLink>Find Synonym</a>
      <ng-template ngbNavContent>
        <app-find-synonym></app-find-synonym>
      </ng-template>
    </li>
    <li ngbNavItem="unScramble">
      <a ngbNavLink>Unscramble</a>
      <ng-template ngbNavContent>
        <app-unscramble></app-unscramble>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>

 -->