<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <a class='navbar-brand' routerLink="home">{{pageTitle}}</a>
      </div>
      <ul class='nav nav-pills'>
        <li><a class='nav-link' [routerLink]="['/home']">Home</a></li>
        <li><a class='nav-link' [routerLink]="['/words']">Word List</a></li>
        <li>
          <div ngbDropdown class="d-inline-block">
            <a class="btn" id="dropdownMenuButton" ngbDropdownToggle>Word Games</a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
              <a ngbDropdownItem class="btn nav-link" [routerLink]="['/findSynonym']">Find Synonym</a>
              <div class="dropdown-divider"></div>
              <a ngbDropdownItem class="btn nav-link" [routerLink]="['/unscramble']">Unscramble</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
