
<div class="card">
    <div class="card-header">
      <h3>{{pageTitle}}</h3>
      <div *ngIf="answerResponse" class="check-element animate-show-hide" ng-show="checked">
        <h6>{{answerResponse}}</h6>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive" *ngIf = "words && words.length">
        <table class="table col-md-12">
          <thead>
            <th>{{name}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let option of options, let i = index" (click)="setClickedRow(i,option)" 
            [class.active]="i == selectedRow">
              <td>
                <button type="button" class="option" data-toggle="button" aria-pressed="false" autocomplete="off">
                  {{option}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="showNextWord()">Submit Your Answer</button>
    </div>
  </div>
