.ng-hide:not(.ng-hide-animate) {
    /* These are just alternative ways of hiding an element */
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .stack-top{
    z-index: 9;
    margin: 0;
    width:90% !important; 
}